.content {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
}

.deck-row {
    width: 100%;
    margin-bottom: 40px;
}

.deck-btn {
    font-size: 30px;
    background: royalblue;
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    text-transform: uppercase;
    margin-right: 20px;
}

.deck-btn:disabled {
    background: rgb(183, 191, 255);
}

.deck-type {
    font-size: 24px;
}

.new-deck {
    color: blue;
}

.old-deck {
    color: darkred;
}